<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<script>
		$(document).ready(function(){
			var row = 0;
			var bNum = 1;
			for (var i = 0; i < 8; i++){
				if(row % 2 == 0){
					var starter = 1;
				} else {
					var starter = 0;
				}
				if (starter == 1){
					$('#wall').append("<div class='small-2 large-2 column half-brick' id='bn-"+bNum+"'></div>");
				}
				bNum++;
				for(var j = starter; j < 3; j++){
					// $('#wall').append("<div class='large-4 column brick'><p>Full Brick</p></div>");
					var id = "bn-"+bNum;
					bNum++;
					$('#wall').append("<div class='small-4 large-4 column brick' id="+id+"></div>");
				}
				if (starter == 1){
					$('#wall').append("<div class='small-2 large-2 column half-brick' id='bn-"+bNum+"'></div>");
				}
				row++;
			}
			var i=28;
			var randQuoteSrc = "https://api.whatdoestrumpthink.com/api/v1/quotes/random";
			(function setQuotes(){
				if (i <= 0) return;
				setTimeout(function(){
					var idStr = "#bn-"+i;
					console.log(idStr);
					$.get(randQuoteSrc, function(res){
						$(idStr).html("<p>"+res.message+"</p>")
					})
					setQuotes();
					i--;
				}, 1000)
			})();
		})
	</script>
</head>
<body>
	<div id='container' class='row'>
	<div id='main' class='small-12 large-8 column'>
		<div id='wall'>
		</div>
	</div>
	<div id='side' class='small-12 large-4 column'>
		<h1>This is the side div</h1>
		<div id='insult'>
		</div>
		<div id='news'>
		</div>
	</div>
	</div>
</body>
</html>