<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
	<div id='container' class='row'>
	<div id='main' class='small-12 large-9'>
		<div id='wall'>
		</div>
	</div>
	<div id='side' class='small-12 large-3'>
		<div id='insult'>
		</div>
		<div id='news'>
		</div>
	</div>
	</div>
</body>
</html>